a {
  text-decoration: none;
}

li {
  list-style: none;
}
footer {
  width: 100%;
  bottom: 0;
}
body {
  position: relative;
}
.emma-menu {
  display: none;
  z-index: 2;
  width: 40%;
  min-width: 300px;
  max-width: 420px;
}

.emma-header {
  max-width: 1200px;
  margin: auto;
}
.emma-card {
  width: 70%;
  min-width: 580px;
  max-width: 620px;
  padding: 0 20px;
}

/*pagination*/
.pagination li {
  display: inline-block;
  padding: 5px;

  border: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 8px 16px;
  outline: 0;
}

.pagination a {
  width: 100%;
}

.pagination li:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.emma-main {
  max-width: 1200px;
  margin-top: 100px;
}

.emma-textbox {
  resize: none;
}

.emma-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  color: #120b1e;
  font-family: roboto;
  border: 0.16em solid #120b1e;
  margin: 20px 10px 10px 0px;
  border-radius: 0.12em;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  transition: all 0.3s;
  width: 30%;
  font-size: 1em;
  min-width: 150px;
  max-width: 170px;
  cursor: pointer;
}
img {
  width: 100%;
}

.emma-button:hover {
  color: #ffffff;
  background-color: #120b1e;
}

.emma-icon {
  margin: 3px;
}
