<form action="">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" />
    <div class="errormessage"></div>
  </div>
  <div>
    <label for="prep-time">Preparation time</label>
    <input type="number" name="prep-time" />
    <div class="errormessage"></div>
  </div>
  <div>
    <label for="category">Title</label>
    <!-- pull from a php table? -->
    <select name="category">
      <option value=""></option>
      <option value="main">Main</option>
      <option value="starter">Starter</option>
      <option value="desert">Desert</option>
      <option value="snack">Snack</option>
    </select>
    <div class="errormessage"></div>
  </div>
  <h4>Ingredients</h4>
  <div class="ingredient-input">
    <input type="number" />
    <select name="unit">
      <option value=""></option>
      <option value="grams"></option>
      <option value="ml"></option>
      <option value="teaspoons"></option>
      <option value="tablespoons"></option>
      <option value="number"></option>
    </select>
    <input type="text" name="ingredient" />
  </div>
</form>
